@using Microsoft.AspNetCore.Identity
@inject UserManager<PetCareManager.Models.User> UserManager

@{
    ViewData["Title"] = "Home";
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
}

<a asp-controller="Admin" asp-action="AllVets"  class="btn btn-warning">See All Vets</a>
<a asp-controller="Admin" asp-action="VetsWithoutSchedule"  class="btn btn-warning">See Unscheduled Vets</a>
<a asp-controller="Admin" asp-action="AllUsers"  class="btn btn-warning">See All Users</a>
